$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.container {
  > div {
    padding: $padding-base-horizontal;

    > div {
      height: 300px;
    }
  }
}



